<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boalbe_mobile</key>
	<dict>
		<key>LinkedUserEnlistment</key>
		<string>boalbe_mobileUser</string>
		<key>MS_BRANCH_ROOT</key>
		<string>/Users/albertborges/sd/dev</string>
		<key>MS_BUILD_ROOT</key>
		<string>/Volumes/Build/builds</string>
		<key>MS_DROP_ROOT</key>
		<string>/Volumes/Build/test</string>
		<key>MS_PARTIAL_ENLISTMENT_CACHE</key>
		<string>/Users/albertborges/PartialEnlistmentCache</string>
		<key>MS_TOOLS_ROOT</key>
		<string>/Users/albertborges/sd/dev/mbu/tools</string>
		<key>SDAUTH</key>
		<string>negotiate</string>
		<key>SDCLIENT</key>
		<string>boalbe_mobile</string>
		<key>SDHOST</key>
		<string>Alberts-MacBook-Pro</string>
		<key>SDPORT</key>
		<string>offdepot1:4000</string>
		<key>SDPROXY</key>
		<string></string>
		<key>SDUSER</key>
		<string>boalbe@REDMOND.CORP.MICROSOFT.COM</string>
		<key>alias</key>
		<string>boalbe</string>
		<key>auth</key>
		<string>negotiate</string>
		<key>branch_root</key>
		<string>/Users/albertborges/sd/dev</string>
		<key>build_root</key>
		<string>/Volumes/Build/builds</string>
		<key>client_name</key>
		<string>boalbe_mobile</string>
		<key>client_root</key>
		<string>/Users/albertborges/sd</string>
		<key>domain</key>
		<string>REDMOND.CORP.MICROSOFT.COM</string>
		<key>enlistment_background_color</key>
		<string>{7610,11942,63842}</string>
		<key>enlistment_foreground_color</key>
		<string>{0,0,0}</string>
		<key>host</key>
		<string>Alberts-MacBook-Pro</string>
		<key>port</key>
		<string>offdepot1:4000</string>
		<key>proxy</key>
		<string></string>
		<key>sd_diff_command</key>
		<string>fmdiff</string>
		<key>sd_editor_command</key>
		<string>vim</string>
		<key>sd_merge_command</key>
		<string>fmmerge</string>
		<key>tools_root</key>
		<string>/Users/albertborges/sd/dev/mbu/tools</string>
		<key>user_for_macosx</key>
		<string>boalbe@REDMOND.CORP.MICROSOFT.COM</string>
		<key>user_for_windows</key>
		<string>REDMOND.CORP.MICROSOFT.COM\boalbe</string>
		<key>username</key>
		<string>albertborges</string>
	</dict>
	<key>boalbe_mobileUser</key>
	<dict>
		<key>MS_USER_ROOT</key>
		<string>/Users/albertborges/sd/user/boalbe</string>
		<key>enlistment_background_color</key>
		<string>{7610,11942,63842}</string>
		<key>enlistment_foreground_color</key>
		<string>{0,0,0}</string>
		<key>isUserEnlistment</key>
		<string>TRUE</string>
		<key>sd_diff_command</key>
		<string>fmdiff</string>
		<key>sd_editor_command</key>
		<string>vim</string>
		<key>sd_merge_command</key>
		<string>fmmerge</string>
	</dict>
</dict>
</plist>
